@model CarRental.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>


<div class="container mx-auto text-center">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Name: @Html.DisplayFor(model => model.Name)</h4>
                    <h6 class="card-subtitle text-muted">Email: @Html.DisplayFor(model => model.Email)</h6>
                    <p class="card-text p-y-1">Birth Date: @Html.DisplayFor(model => model.BirthDate)</p>   
                    <p class="card-text p-y-1">Base Salary: @Html.DisplayFor(model => model.BaseSalary)</p>
                    <p class="card-text p-y-1">Department: @Html.DisplayFor(model => model.Department.Name)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-2">Edit</a>
    <a asp-action="Index">Back to list</a>
</div>
